/* Dashboard page */

body {

    font-family: 'Muli', sans-serif;

    background-color: #efefef;

}

nav {

    color: #fff;

    background-color: rgba(31, 152, 234, 0.82);

    width: 100%;

    height: 55px;

}

.navbar{

    margin-bottom: 0px;

    border: none;

}

p.brand-logo.center a {

    color: #fff;

    font-size: 25px;  

}

a.help {

    color: rgb(255, 255, 255);

    background-color: rgb(15, 105, 148);

    text-align: center;

    letter-spacing: 0.5px;

    cursor: pointer;

    text-decoration: none;

    transition: 0.2s ease-out;

    display: inline-block;

    line-height: 36px;

    padding: 0px 15px;

    box-shadow: 2px 2px 2px #444;

    margin-top: 14px;

    font-size: 14px !important;

}
nav .brand-logo {

    color: #fff;

    display: inline-block;

    font-size: 2.1rem;

    padding: 0;

    width: 100%;

    text-align: center;

}
a.menu-matrix {
    line-height: 55px;
}

a:focus {

    text-decoration: none;

}

a:hover {

    text-decoration: none;

}

.christmas-snowflake-container {

    display: inline-block;

    width: 100%;

    padding: 35px 20px 20px 20px;

}

.sub-heading {

    margin: 0;

    padding-bottom: 10px;

    font-size: 24px;

    text-shadow: 1px 1px 2px #aaa;

    color: #313131;

}

.christmas-snowflake {

    background-color: #fff;

    box-shadow: 1px 1px 2px #777;

    padding: 20px;

    display: inline-block;

    width: 100%;   
    
    margin-top: 20px;

}

.christmas-snowflake-container {

    display: inline-block;

    width: 100%;

    padding: 10px 45px 35px 45px;

}

.sp-preview{

    border: none;

}

.section-group {

    background: #eee;

    padding: 10px;

}

h3.sub-heading {

    font-size: 20px;

}

button.btn.tooltipped.tooltipped-s {

    position: absolute;

    bottom: 1px;

    right: 0;

    top: 1px;

}

.view-shortcode {

    position: relative;

    margin-left: 15px;

}

.left{

    display: inline-block;

}

.productlist{
    padding: 25px;

    background-color: #fff;

    box-shadow: 1px 1px 2px #777;
}

.toast-top-right{
    top: 65px;
}

p.colorlabel {
    margin: 0;
}

/* Edit Page */
.popover{
    position: relative;

    display: block;

    max-width: 100%;
}

.popover-title{
    background-color: #eeeeee;

    max-width: 100%;

    margin-bottom: 5px;

    font-weight: 700;

    padding: 10px 14px;

    font-size: 16px;
}

.popover.popover-right::before {
    left: -22px;

    margin-top: -6px;

    border-right-color: rgba(0, 0, 0, .2);

    top: 50%;

    border-left-width: 0;

    content: "";

    border-width: 11px;

    position: absolute;

    display: block;

    width: 0;

    height: 0;

    border-color: transparent rgba(0, 0, 0, .2) transparent transparent;

    border-style: solid;
}

.popover.popover-right::after {
    left: -20px;

    margin-top: -5px;

    border-right-color: #ffffff;

    top: 50%;

    border-left-width: 0;

    content: "";

    border-width: 10px;

    position: absolute;

    display: block;

    width: 0;

    height: 0;

    border-color: transparent white transparent transparent;

    border-style: solid;

    box-sizing: inherit;  
}

a.editgoback {
    float: right;
}

i.fa.fa-pencil {
    color: #000;
}

.buttonstyle{
    margin-left: 18px;
}

a.active {
    background-color: #000;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.product-title{
  display: inline-block;
}

.card {
    position: relative;
    overflow: hidden;
    margin: 3.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-content.help {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

ul {
    list-style: none;
}

img.zt-christmas-image {
    height: auto;
    width: 175px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.zt-christmas{
    display: block;
}
.zt-block-size{
    width: 50%;
}
.zt-snow-image{
    padding: 5px;
    background-position: center !important;
    background-size: 18px !important;
}
select#snow_images option {
    padding: 15px;
    border-bottom: 1px solid #919488;
}
select#snow_images option:last-child {
    border: none;
}
select#snow_images {
    padding: 0;
    overflow: auto;
}
.centre.christmas-snowflake {
    padding: 10px;
}
.save-right{
    float: right;
}
.follow{
    padding-top: 10px;
}
.zt-ul-li{
    padding: 0;
    column-count: 2;
}
.zt-ul-li li{
    width:220px;
}